
.link-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: yellowgreen;
    border: .5em solid indianred;
    border-radius: .3rem;
    padding: 1em;
    width: fit-content;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    flex-flow: column wrap
}
.all-events-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
    border-radius: .3em;}

.event-wrapper {
    background-color: rgb(250, 225, 4);
    width: 25%;
    padding-top: none;
    border-radius: 1em;
}

.event-wrapper:hover {
    background-color: lightgreen;
    width: 25%;
    padding-top: none;

}
.event-wrapper:hover > h3 {
    background-color: indigo;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.event-wrapper > h3 {
    background-color: yellowgreen;
    margin-top: 0px;
    display: flex;
    justify-content: center;

}

.event-details {
    position: static;
}


.nav-link {
    display: flex;
    justify-content: center;
    padding: .5em;
    border-radius: .3rem;
    width: fit-content;
    border: 1px solid indianred;
    background-color: lightskyblue;
}

.nav-link:hover {
    display: flex;
    justify-content: center;
    padding: .5em;
    border: 1px solid indianred;
    background-color: rgb(250, 225, 4);
    border-radius: .3em;
}
