
.link-component {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: yellowgreen;
    border: .5em solid indianred;
    border-radius: .3rem;
    padding: 1em;
}

.button {
    display: flex;
    justify-content: center;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.home-wrapper > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
