.about-wrapper {
    margin: 4em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

}

.about {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color:yellowgreen;
    width: 60%;
    border: .5em solid indianred;
    border-radius: .3rem;
}

.nav-link {
    display: flex;
    justify-content: center;
    padding: .5em;
    border-radius: .3rem;
    width: fit-content;
    border: 1px solid indianred;
    background-color: lightskyblue;

}

.nav-link:hover {
    display: flex;
    justify-content: center;
    padding: .5em;
    border: 1px solid indianred;
    background-color: rgb(250, 225, 4);
    border-radius: .3em;
}
