.form-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    padding: 5rem;
}

.event-form {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding: 2em;
    background-color: yellowgreen;
    border: .5em solid indianred;
    border-radius: .3rem;
    box-shadow: 0px 0px 5em 1em lightslategray;
}

.errors {
    display: flex;
    color: red;
    margin-bottom: 4em;
    margin-top: -2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: large;
}

.body-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.image-wrapper {
    display: flex;
    padding: 1em;
}

.event-wrapper_event {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
    width: fit-content;
    max-width: 90%;
    padding: 1em;
    border: .5em solid indianred;
    border-radius: .3em;
}

h3 {
    display: flex;
    color: indianred;
}

h2:hover {
    display: flex;
    color: indigo;
    text-decoration: underline;
}

h2 {
    display: flex;
    height: fit-content;
    margin: 0px;
}

.nav-link {
    display: flex;
    justify-content: center;
    padding: .5em;
    border-radius: .3rem;
    width: fit-content;
    border: 1px solid indianred;
    background-color: lightskyblue;
}

.nav-link:hover {
    display: flex;
    justify-content: center;
    padding: .5em;
    border: 1px solid indianred;
    background-color: rgb(250, 225, 4);
    border-radius: .3em;
}

div.link:hover {
    display: flex;
    color: indigo;
    text-decoration: underline;
}
