.profile-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: yellowgreen;
    width: fit-content;
    max-width: 90%;
    padding: 1em;
    border: .5em solid indianred;
    border-radius: .3em;
}

.body-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.session-list {
    background-color: rgb(250, 225, 4);
    padding: 1em;
}

.session-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-bottom: .25em solid lightskyblue;
    border-top: .25em solid lightskyblue;
    border-radius: 1em;
    width: fit-content;
}

.detail-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    width: 95%;
}
